client/.DS_Store
client/dist/electron/*
client/dist/web/*
client/build/*
!client/build/icons
client/coverage
client/test/unit/coverage
client/node_modules/
client/npm-debug.log
client/npm-debug.log.*
client/thumbs.db
!.gitkeep
